!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml",  "xml:lang" => "en",  :lang => "en"}
  %head
    %meta{ 'http-equiv' => "Content-type", :content => "text/html;charset=UTF-8" }
    %title
      parslet -
      = h page.title
      
    %meta{ :name => 'author', :content => 'Kaspar Schiess (http://absurd.li)' }

    %link{ :type => 'text/css', :rel => 'stylesheet', :href => '/css/site.css' }
    -# %script{ :type => 'text/javascript', :src => 'http://getfirebug.com/releases/lite/1.2/firebug-lite.js' }
    
  %body
    #everything
      .main_menu
        %ul
          %li= link_to('about', 'about.html')
          %li= link_to('get started', 'about.html')
          %li= link_to('documentation', 'about.html')
          %li= link_to('status', 'status.html')
          
      .content
        = content
    
      .copyright
        MIT License, 2010, (c) Kaspar Schiess
      
    